<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-between">
      <%= link_to 'Powrót', exams_path, class: 'btn btn-sm btn-secondary' %>
      <%= @where_you_are %>
      <%= link_to 'Nowy', new_exam_exam_unit_path(@exam), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <% @exam_units.each do |exam_unit| %>
    <div class="col-md-4 col-sm-12">
      <div class="card m-1 mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-2">
            <h5 class="card-title"><%= exam_unit.unit.name %></h5>
            <h5 class="card-title"><%= exam_unit.unit.code %></h5>
          </div>
          <h6 class="card-subtitle mb-4 text-muted"><%= 'Domyślny: ' %><%= exam_unit.is_default_text %></h6>
          <%= link_to 'Usuń', exam_exam_unit_path(@exam, exam_unit), method: :delete, class: 'card-link red' %>
        </div>
      </div>
    </div>
  <% end %>
</div>