<%= form_with model: [@order_item, @order_item_result], autocomplete: :off, local: true do |form| %>

  <div class="form-group">
    <label>Wynik</label>
    <%= form.number_field :result, class: 'form-control', :step => 0.00001, min_value: 0, presence: true, :required => 'required', autofocus: true, :id => 'result' %>
  </div>

  <% if @order_item.exam.default_unit.present? %>
    <div class="form-group">
      <label><%= 'Jednostka' %></label>
      <%= form.text_field :unit_id, data: { autocomplete: autocomplete_unit_name_units_path }, 'data-auto-focus' => true, :value => @order_item.exam.default_unit.name_with_code, :class => 'form-control select', :option => 'Small select', id: 'unit_id' %>
    </div>
  <% else %>
    <div class="form-group">
      <label><%= 'Jednostka' %></label>
      <%= form.text_field :unit_id, data: { autocomplete: autocomplete_unit_name_units_path }, 'data-auto-focus' => true, :class => 'form-control select', :option => 'Small select', id: 'unit_id' %>
    </div>
  <% end %>

  <div class="mt-4">
    <div class="d-flex justify-content-between">
      <%= form.submit 'Dodaj', class: 'btn btn-sm btn-success', id: 'save-item' %>
      <%= link_to 'Powrót', order_path(@order), class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>

<% end %>
