<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-between">
      <%= link_to 'Powrót', root_path, class: 'btn btn-sm btn-secondary' %>
      <%= @where_you_are %>
      <%= link_to 'Nowy', new_spot_station_path(@spot), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <% @stations.each do |station| %>
    <div class="col-md-4 col-sm-12">
      <div class="card m-1 mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><%= station.name %></h5>
          </div>
          <%= link_to 'Edycja', edit_spot_station_path(@spot, station), class: 'card-link' %>
          <%= link_to 'Usuń', spot_station_path(@spot, station), method: :delete, class: 'card-link red' %>
          <%= link_to 'Badania', spot_station_station_exams_path(@spot, station), class: 'card-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>