<%= form_with model: [@employee, @employee_user], autocomplete: :off, local: true do |form| %>

  <div class="form-group">
    <div class="form-text"><%= 'Użytkownik' %></div>
    <%= form.collection_select :user_id, User.where('id not in (select user_id from employee_users)').all, :id, :email, include_blank: false,  multiple: false, :class => 'form-control', :option => 'Small select' %>
  </div>

  <div class="mt-4">
    <div class="d-flex justify-content-between">
      <%= form.submit 'Zapisz', class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Powrót', employees_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>

<% end %>
