<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-between">
      <%= link_to 'Powrót', root_path, class: 'btn btn-sm btn-secondary' %>
      <%= link_to 'Nowy', new_variety_path, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <% @varieties.each do |variety| %>
    <div class="col-md-4 col-sm-12">
      <div class="card m-1 mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><%= variety.name %></h5>
            <% if variety.file_icon.present? %>
              <%= inline_svg_tag(variety.file_icon, class: 'fill-black svg') %>
            <% end %>
          </div>
          <%= link_to 'Edycja', edit_variety_path(variety), class: 'card-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>