<%= form_with model: [@patient, @attr, @patient_attr_value], autocomplete: :off, local: true do |form| %>

  <% if @attr.attr_class.value_type == 2 %>
    <div class="form-group">
      <label><%= @attr.name %></label>
      <%= form.number_field :attr_value, class: 'form-control', placeholder:  @attr.name, autofocus: true, presence: true, :required => 'required' %>
    </div>
  <% else if @attr.attr_class.value_type == 3 %>
    <div class="form-group">
      <label><%= @attr.name %></label>
      <%= form.text_field :attr_value, class: 'form-control', type: 'date', placeholder:  @attr.name, autofocus: true, presence: true, :required => 'required' %>
    </div>
      <% else %>
        <div class="form-group">
          <label><%= @attr.name %></label>
          <%= form.text_field :attr_value, class: 'form-control', placeholder:  @attr.name, autofocus: true, presence: true, :required => 'required' %>
        </div>
      <% end %>
  <% end %>

  <div class="mt-4">
    <div class="d-flex justify-content-between">
      <%= form.submit 'Zapisz', class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Powrót', patients_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>

<% end %>
