<%= form_with model: @order, autocomplete: :off, local: true do |order_form| %>

  <div class="form-group">
    <label><%= 'Klient' %></label>
    <%= order_form.text_field :client_id, data: { autocomplete: autocomplete_client_name_clients_path }, 'data-auto-focus' => true, :class => 'form-control select', :option => 'Small select', autofocus: true %>
  </div>
  <% if Parameter.get_value('multiple_patient_on_order') == 0 %>
    <div class="form-group">
      <label><%= 'Pacjent' %></label>
      <%= order_form.text_field :patient_id, data: { autocomplete: autocomplete_patient_name_patients_path }, 'data-auto-focus' => true, :class => 'form-control select', :option => 'Small select', id: 'patient_id' %>
    </div>
  <% end %>

  <div class="form-group">
    <label>Data zlecenie</label>
    <%= order_form.text_field :ordered, class: 'form-control', type: 'date' %>
  </div>

  <div class="form-group">
    <label>Data złożenia zlecenia</label>
    <%= order_form.text_field :placed, class: 'form-control', type: 'date' %>
  </div>

  <div class="form-group">
    <%= order_form.check_box :is_cito, class: 'input', id: 'is_cito', type: 'checkbox' %>
    <label><%= 'Cito' %></label>
  </div>

  <div class="mt-4">
    <div class="d-flex justify-content-between">
      <%= order_form.submit 'Zapisz', class: 'btn btn-primary' %>
      <%= link_to 'Powrót', orders_path, class: 'btn btn-secondary' %>
    </div>
  </div>

<% end %>
