<div class="table-responsive">

  <table class="table">
    <thead>
      <tr>
        <th scope="col"><p class="p-small"><%= '#' %></p></th>
        <th scope="col"><p class="p-small"><%= 'Grupa badań' %></p></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% v_i = 1 %>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <th scope="row">
            <p class="p-small">
              <%= v_i %>
            </p>
          </th>
          <td>
            <p class="p-small">
              <% unless @order.order_status.name == 'done' %>
                <%= link_to(order_item.exam_group.name, edit_order_order_item_path(@order, order_item), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) %>
              <% else %>
                <%= order_item.exam_group.name %>
              <% end %>
              <% if order_item.is_cito == 1 %>
                <span class="badge badge-danger"><%= 'C' %></span>
              <% end %>
            </p>
          </td>
          <td class="text-right">
            <%= link_to(' Usuń ', order_order_item_path(@order, order_item), method: :delete, class: 'btn btn-sm btn-warning') %>
          </td>
        </tr>
        <% v_i += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'order_footer' %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



