<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-between">
      <%= link_to 'Powrót', root_path, class: 'btn btn-sm btn-secondary' %>
      <%= link_to 'Nowy', new_patient_path, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <% @patients.each do |patient| %>
    <div class="col-md-4 col-sm-12">
      <div class="card m-1 mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title mb-4"><%= patient.name %></h5>
            <% if patient.variety.file_icon.present? %>
              <%= inline_svg_tag(patient.variety.file_icon, class: 'fill-black svg') %>
            <% else %>
              <%= patient.variety.name %>
            <% end %>
          </div>
          <% @patient_attr.each do |patient_attr| %>
            <% if patient.attr_present(patient_attr.attr.id).blank? %>
              <p class="card-text">
                <%= patient_attr.attr.name_with_class_name %><%= ': ' %><%= link_to('Dodaj', new_patient_attr_patient_attr_value_path(patient, patient_attr.attr)) %>
              </p>
            <% else %>
              <p class="card-text">
                <%= patient_attr.attr.name_with_class_name %><%= ': ' %><%= link_to(patient.attr_value(patient_attr.attr.id), edit_patient_attr_patient_attr_value_path(patient, patient_attr.attr, patient.attr_present(patient_attr.attr))) %>
              </p>
            <% end %>

          <% end %>
          <%= link_to 'Edycja', edit_patient_path(patient), class: 'card-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>