<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-between">
      <%= link_to 'Powrót', root_path, class: 'btn btn-sm btn-secondary' %>
      <%= @where_you_are %>
      <%= link_to 'Nowy', new_exam_group_path, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <% @exam_groups.each do |exam_group| %>
    <div class="col-md-4 col-sm-12">
      <div class="card m-1 mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><%= exam_group.name %></h5>
          </div>
          <%= link_to 'Edycja', edit_exam_group_path(exam_group), class: 'card-link' %>
          <%= link_to 'Badania ('+exam_group.exam_group_exams.count.to_s+')', exam_group_exam_group_exams_path(exam_group), remote: true, class: 'card-link' %>
          <%= link_to 'Usuń', exam_group_path(exam_group), method: :delete, class: 'card-link red' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="exam_group_exams">
  <% if @exam_group_exams.present? %>
    <%= render 'exam_group_exams/index' %>
  <% end %>
</div>