<%= form_with model: [@order, @order_item], local: true do |form| %>

  <% if Parameter.get_value('multiple_patient_on_order') == 1 %>
    <div class="form-group">
      <label><%= 'Pacjent' %></label>
      <%= form.text_field :patient_id, data: { autocomplete: autocomplete_patient_name_patients_path }, 'data-auto-focus' => true, :class => 'form-control select', :option => 'Small select', id: 'patient_id' %>
    </div>
  <% end %>

  <% if Parameter.get_value('multiple_patient_on_order') == 1 %>
    <div class="form-group">
      <label><%= 'Badanie' %></label>
        <%= form.text_field :exam_id, data: { autocomplete: autocomplete_exam_name_exams_path }, 'data-auto-focus' => true, :class => 'form-control select', :option => 'Small select', id: 'exam_id' %>
    </div>
  <% else %>
    <div class="form-group">
      <label><%= 'Grupa badań' %></label>
      <%= form.text_field :exam_group_id, data: { autocomplete: autocomplete_exam_group_name_exam_groups_path }, 'data-auto-focus' => true, :class => 'form-control select', :option => 'Small select', id: 'exam_group_id' %>
    </div>
  <% end %>

  <% if Parameter.get_value('multiple_patient_on_order') == 1 %>
    <div class="form-group">
      <% if @order.is_cito == 1 %>
        <%= form.check_box :is_cito, class: 'input', id: 'is_cito', type: 'checkbox', disabled: true, value: 1 %>
      <% else %>
        <%= form.check_box :is_cito, class: 'input', id: 'is_cito', type: 'checkbox' %>
      <% end %>
      <label><%= 'Cito' %></label>
    </div>
  <% end %>

  <div class="mt-4">
    <div class="d-flex justify-content-between">
      <%= form.submit 'Dodaj', class: 'btn btn-sm btn-success', id: 'save-item' %>
      <%= link_to 'Powrót', order_path(@order), class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>

<% end %>

