<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-between">
      <%= link_to 'Powrót', root_path, class: 'btn btn-sm btn-secondary' %>
      <%= link_to 'Nowy', new_unit_path, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <% @units.each do |unit| %>
    <div class="col-md-4 col-sm-12">
      <div class="card m-1 mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><%= unit.code %></h5>
          </div>
          <h6 class="card-subtitle mb-4"><%= unit.name %></h6>
          <%= link_to 'Edycja', edit_unit_path(unit), class: 'card-link' %>
          <%= link_to 'Przeliczniki', unit_unit_rates_path(unit), class: 'card-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>