<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-between">
      <%= link_to 'Powrót', root_path, class: 'btn btn-sm btn-secondary' %>
      <%= @where_you_are %>
      <%= link_to 'Nowy', new_attr_class_path, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <% @attr_classes.each do |attr_class| %>
    <div class="col-md-4 col-sm-12">
      <div class="card m-1 mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= attr_class.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= '' %>
          </h6>
          <%= link_to 'Edycja', edit_attr_class_path(attr_class), class: 'card-link' %>
          <%= link_to 'Atrybuty', attr_class_attrs_path(attr_class), class: 'card-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>