<%= form_with model: @exam, autocomplete: :off, local: true do |form| %>

  <div class="form-group">
    <label><%= 'Nazwa' %></label>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Nazwa', autofocus: true, presence: true, :required => 'required' %>
  </div>


  <div class="mt-4">
    <div class="d-flex justify-content-between">
      <%= form.submit 'Zapisz', class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Powrót', exams_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>

<% end %>
