<div class="row mt-3">
  <div class="col">
    <div class="d-flex justify-content-between">
      <%= link_to 'Powrót', root_path, class: 'btn btn-sm btn-secondary' %>
      <%= link_to 'Nowy', new_exam_path, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <% @exams.each do |exam| %>
    <div class="col-md-4 col-sm-12">
      <div class="card m-1 mb-3">
        <div class="card-body">
          <h5 class="card-title mb-3"><%= exam.name %></h5>
          <h6 class="card-subtitle mb-3 text-muted"><%= 'Grupa: ' %><%= exam.exam_group.name %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= 'Materiał: ' %><%= exam.material.name %></h6>
          <p class="card-text description"><%= exam.description %></p>
          <%= link_to 'Edycja', edit_exam_path(exam), class: 'card-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>